@use "mixins" as mx;
@use "variables" as var;
@use "functions" as fn;
@use "placeholders";

body {
  @extend %main-text;
  background-color: fn.get-color("theme-main");

  font-family: var.$main-font, sans-serif;
  color: fn.get-color("dark-base");
  padding: 32px;
}

button {
  font-family: inherit;
  cursor: pointer;

  display: inline-flex;
  justify-content: center;
  align-items: center;
}
